.wrapper {
    max-width: 1028px;
    margin: auto;
    background-color: #d4e9e7;
}
/* all content */
body {
    background-color: #aad4cf;
}
/* banner image / text */
.banner {
    position: relative;
}
.banner h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 58%;
    font-size: 3rem;
    color: white;
}
.banner img {
    width: 100%;
    height: fit-content;
}

/* navigation bar */
nav {
    text-transform: uppercase;
    width: 100%;
}

nav a  {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
    width: 33%;
}

/* removes right border for last nav item */
nav a:last-child {
    border-right: none;
}


/* main article  */