body {
    background-color: #aad4cf ;
}

header h1 {
    font-size: 42px;
    color: white;
    text-align: center;
}
header img {
    width: 100%;

}

nav {
    font-size: 30px;
    text-transform: uppercase;

}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav ul:after {
    display: inline-block;
    width: 100%;
    border-color: black;


}
nav li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: rgb(255, 239, 239);
    

    
}