.wrapper {
    max-width: 1028px;
    margin: auto;
    background-color: #d4e9e7;
}
/* all content */
body {
    background-color: #aad4cf;
}
/* banner image / text */
.banner {
    position: relative;
}
.banner h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 58%;
    font-size: 3rem;
    color: white;
}
.banner img {
    width: 100%;
    height: 100%;
}

/* navigation bar */
nav {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
}

nav a  {
    margin-left: 0.64%;
    display: inline-block;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
    width: 32%;
}

/* removes right border for last nav item */
nav a:last-child {
    border-right: none;
}


/* reduces margins below header/nav */

.body_wrapper {
    margin: 1%;
}


/* main content section  */

.main_body {
    color: black;
    max-width: 100%;

}


/* first article */
.first_article {
    width: 0 auto;
    padding-bottom: 1rem;
}
.first_article h2 {
    font-size: 1.875rem;
    font-weight:500;
    margin-bottom: 12px;
}

.first_article img {
        max-width: 205px;
        float: left;
        padding-bottom: 19.2px;
        margin-right: 1rem;
}

.first_article p {
    color: black;
    font-size: 1.09rem;
    font-weight: 400;
    padding-top: 0.2rem;
}

.first_article p:after {
    clear: left;
}



/* second article */

.second_article {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.second_article h3 {
    font-size: 1.50rem;
}


.facts_list {
    padding-top: 0.5rem;
    list-style-type: disc;
    margin-left: 1rem;
}




/* contact form*/
.contact_form_wrapper {
    margin-bottom: 1rem;
}
/* contact form heading */
.contact_form_wrapper h3 {
    font-size: 1.50rem;
    margin-bottom: 1rem;
}

/* Contact form inputs */

.contactform {
    display: block;
    border: black solid;
    padding: 2rem 1.5rem 1rem 1rem;
}

.contact_form_question {
    font-size: 1.30rem;
    margin: 0rem 0 1.20rem 0;
}

/* form questions (label) */
.contactform label {
    font-size: 1.1rem;
    margin: 0.50rem 0 .75rem 0;
}

/* form inputs */
.contactform input, textarea {
    margin: 0 0 0.75rem 0;
}

.contactform input[type=text] {
    width: 100%;
    height: 1.4rem;
}

.contactform input[type=email] {
    width: 100%;
    height: 1.4rem;
}

.contactform textarea {
    width: 100%;
    height: 5rem;
    resize: none;
}

.contactform input[type=radio] {
    background-color: black;
}


.contactform button {
    display: block;
    padding: 6px 7px;
    margin-top: .5rem;
    background-color: #d4e9e7;
    border: 1px solid black;
}



/* footer */

footer {
    position: relative;
    top: 1rem;
    margin-right: 1rem;
    padding-bottom: 3rem;
    text-align: right;
}